.hero-image {
    transition: transform 0.5s;
}

.hero-image {
    transform: scale(1.30);
}

html {
    scroll-behavior: smooth;
}

/* Overscroll effect */
.overscroll-container {
    overflow: hidden;
}

.overscroll-container .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.overscroll-container .scrolling {
    position: relative;
    z-index: 0;
    transform: translateY(-50%);
    margin-top: -50vh;
    padding-top: 50vh;
}

@media (max-width: 767px) {
    .overscroll-container .scrolling {
        margin-top: -25vh;
        padding-top: 25vh;
    }
}

/* Add background color to scrolling section */
.scrolling {
    background-color: #f1f1f1;
}



        .hero {
            position: relative;
            background-color: #1a202c; /* Dark background color for better contrast with particles */
            color: white;
            padding: 4rem 0;
        }
        .content-container {
            position: relative;
            z-index: 1;
            pointer-events: none; /* This prevents the container from catching pointer events */
        }
        .content-container * {
            pointer-events: auto; /* This ensures that actual content elements can receive pointer events */
        }




 .skills-nav-item {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        background-color: rgba(229, 231, 235, 0.5);
        border-radius: 0.5rem;
        transition: background-color 0.3s;
    }

 .skills-nav-item:hover {
    background-color: rgba(229, 231, 235, 1);
}

.skills-nav-item.active {
    background-color: rgba(96, 165, 250, 0.5);
}

.skills-nav-item.active:hover {
    background-color: rgba(96, 165, 250, 1);
}




.project-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-container .bg-white {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-container .max-height-project {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-container .p-4 {
    flex-grow: 1;
}




   .hidden { display: none; }
        .block { display: block; }




/* Hide menu on scroll CSS */
#custom-navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


.custom-hero {
    margin-top: 64px; /* Adjust the value based on the height of your navbar */
}




  .skills-container {
    display: flex;
    align-items: center;
  }

  /* Add this if you want some space between the navigation and content on larger screens */
  @media (min-width: 640px) {
    .skills-container {
      gap: 1rem;
    }
  }



