# For local development with Docker, use:
# DB_URL=mysql://root:password123@db:3306/my_project_db
# For local development without Docker, use:
DB_URL=mysql://root:password123@localhost:3306/my_project_db
