<section id="contact" class="mb-32 text-center py-24">
    <div class="text-center mb-24">
                <h2 class="text-5xl font-bold text-indigo-900 mb-8">Contact me</h2>
           </div>
        <div class="md:px-12">
            <div class="container mx-auto xl:px-32">
                <div class="grid items-center lg:grid-cols-2">
                    <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                        <div
                                class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] md:px-12 lg:-mr-14">

                
<ul class="text-gray-800 space-y-4">
    <li class="flex items-center">
        <span class="text-indigo-800 mr-3 text-xl">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="font-medium">Email:</span> 
        <a href="mailto:corentin.dupaigne@gmail.com" class="ml-2 text-indigo-600 hover:underline">corentin.dupaigne@gmail.com</a>
    </li>
    
    <li class="flex items-center">
        <span class="text-indigo-800 mr-3 text-xl">
            <i class="fas fa-map-marker-alt"></i>
        </span>
	<span class="font-medium">Location: </span> <span class="ml-2"> Vincennes, France </span>
    </li>

    <li class="flex items-center">
        <span class="text-indigo-800 mr-3 text-xl">
            <i class="fab fa-linkedin"></i>
        </span>
        <span class="font-medium">LinkedIn:</span> 
        <a href="https://fr.linkedin.com/in/corentin-dupaigne-b449a1242" target="_blank" class="ml-2 text-indigo-600 hover:underline">linkedin.com/in/corentin-dupaigne</a>
    </li>

    <li class="flex items-center">
        <span class="text-indigo-800 mr-3 text-xl">
            <i class="fab fa-discord"></i>
        </span>
        <span class="font-medium">Discord:</span> 
        <span class="ml-2">juic_y</span>
    </li>
</ul>

                        </div>
                    </div>
                    <div class="md:mb-12 lg:mb-0">
                        <div
                                class="relative h-[700px] rounded-lg shadow-lg">
                            <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10502.324442106245!2d2.4382853!3d48.8471283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672a39beac54d%3A0x40b82c3688b3740!2s94300%20Vincennes!5e0!3m2!1sfr!2sfr!4v1707402589325!5m2!1sfr!2sfr"
                                    class="absolute left-0 top-0 h-full w-full rounded-lg"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            /* Add this CSS to make the button and input borders visible */
            .relative input,
            .relative textarea {
                border: 1px solid #ddd; /* Add a border to input and textarea */
            }
        </style>
    </section>
