<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer class="bg-gray-800 text-gray-600 body-font">
    <div class="container mx-auto flex items-center justify-between px-4 py-6">
        <p class="text-sm">&copy; 2023 Corentin Dupaigne</p>
        <div class="flex items-center">
            <a class="text-gray-600 hover:text-gray-400 px-3" href="https://github.com/Juicyyyyyyy">
                <i class="fab fa-github"></i>
            </a>
            <a class="text-gray-600 hover:text-gray-400 px-3"
               href="https://www.linkedin.com/in/corentin-dupaigne-b449a1242/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>