<header>
    <nav class="bg-white p-4 w-full z-10 top-0 shadow-lg transition-transform duration-300 ease-in-out" id="custom-navbar">
        <div class="container mx-auto flex flex-wrap items-center justify-between">

            <!-- Brand Name -->
            <div class="flex items-center">
                <a class="text-3xl font-bold text-indigo-700 hover:text-indigo-800 transition-colors duration-300" href="/">Corentin Dupaigne</a>
            </div>

            <!-- Hamburger Button for Mobile View -->
            <div class="relative lg:hidden block z-40">
                <div id="menuToggle" class="hamburger hamburger--squeeze" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Navigation Links -->
            <nav id="nav-content" class="hidden lg:flex space-x-6">
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll" data-duration="300" href="/#about">About</a>
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll" data-duration="300" href="/#projects">Projects</a>
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll" data-duration="300" href="/#skills">Skills</a>
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll" data-duration="300" href="/#contact">Contact</a>
                <a class="font-semibold text-indigo-700 hover:text-indigo-800 py-2 px-4 border border-indigo-700 rounded-full js-smooth-scroll" data-duration="300" href="/blog">Blog</a>
            </nav>

            <!-- Mobile View Menu (Hidden initially) -->
            <nav id="menu" class="fixed top-0 left-0 w-full h-full bg-white text-gray-700 flex flex-col justify-center space-y-4 hidden z-30">
    <a class="mobile-nav-link block text-center text-2xl px-4 py-2 hover:bg-gray-200" href="/#about">About</a>
    <a class="mobile-nav-link block text-center text-2xl px-4 py-2 hover:bg-gray-200" href="/#projects">Projects</a>
    <a class="mobile-nav-link block text-center text-2xl px-4 py-2 hover:bg-gray-200" href="/#skills">Skills</a>
    <a class="mobile-nav-link block text-center text-2xl px-4 py-2 hover:bg-gray-200" href="/#contact">Contact</a>
    <a class="mobile-nav-link block text-center text-2xl px-4 py-2 hover:bg-gray-200" href="/blog">Blog</a>
</nav>


            <!-- Desktop View - CV Download -->
            <div class="hidden lg:flex space-x-8 items-center">
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 flex items-center space-x-2" href="{{ url_for('static', filename='pdf/CorentinDupaigne.pdf') }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-download"></i>
                    <span>Download CV</span>
                </a>
            </div>

            <!-- Mobile View - CV Download -->
            <div class="lg:hidden flex space-x-4 items-center">
                <a class="text-gray-700 hover:text-gray-900 hover:underline py-2 px-4 flex items-center" href="{{ url_for('static', filename='pdf/CorentinDupaigne.pdf') }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </nav>
</header>

<style>
    #custom-navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
    }
</style>

<script>
    const navbar = document.getElementById('custom-navbar');
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            navbar.style.top = "0";
        } else {
            navbar.style.top = "-75px";
        }
        prevScrollpos = currentScrollPos;
    }

    const menuToggle = document.getElementById('menuToggle');
const menu = document.getElementById('menu');
menuToggle.addEventListener('click', function() {
    this.classList.toggle('is-active');
    if (menu.classList.contains('hidden')) {
        gsap.from(menu, { duration: 0.3, opacity: 0, y: "100%" });
        menu.classList.remove('hidden');
    } else {
        menu.classList.add('hidden');
    }
});

document.querySelectorAll('.mobile-nav-link').forEach(link => {
    link.addEventListener('click', () => {
        menuToggle.classList.remove('is-active');
        menu.classList.add('hidden');
    });
});

</script>
