<header>
    <nav class="bg-white p-4 w-full z-10 top-0 shadow" id="custom-navbar">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
            <div class="flex items-center">
                <a class="text-2xl font-bold" href="/" js-smooth-scroll data-duration="300">Corentin Dupaigne</a>
            </div>
            <div class="lg:hidden">
                <button id="burger" class="focus:outline-none lg:hidden">
                    <svg class="fill-current text-gray-600" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M4 11h16v2H4zm0-7h16v2H4zm0 14h16v2H4z"/>
                    </svg>
                </button>
            </div>
            <nav class="hidden lg:flex items-center" id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center ml-auto">
                    <li class="mr-3">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll"
                           data-duration="300" href="/#about">About</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll"
                           data-duration="300" href="/#projects">Projects</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll"
                           data-duration="300" href="/#skills">Skills</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-2 px-4 js-smooth-scroll"
                           data-duration="300" href="/#contact">Contact</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block font-semibold text-blue-600 no-underline hover:text-blue-900 py-2 px-4 border border-blue-600 rounded js-smooth-scroll"
                           data-duration="300" href="/blog">Blog</a>

                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>
