<section class="hero text-white py-16 relative overflow-hidden custom-hero" id="dynamic-bg">

    <div class="content-container py-4">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-6 md:px-12">
            <!-- Text Section -->
            <div class="animated-text md:w-1/2 mb-8 md:mb-0">
                <!-- GSAP animations make these texts fade in and possibly slide from the side -->
                <h1 class="text-5xl font-extrabold mb-4 text-center md:text-left leading-tight gsap-fade-slide">
                    <span id="typed-output"></span>
                </h1>
                <h2 class="text-3xl mb-6 text-center md:text-left leading-snug gsap-fade-slide-delay">Junior Backend
                    Developer & Software Engineer based in Paris.</h2>

                <a href="#about"
   class="bg-indigo-700 text-white px-5 py-2 rounded-full font-semibold hover:bg-indigo-800 transition-colors duration-300 inline-block mx-auto md:mx-0 md:ml-0 gsap-scale-hover mx-auto text-center sm:text-left">Discover More</a>


            </div>

            <!-- Image Section -->
            <div class="md:w-1/2 interactive-img-container">
                <img src="https://corentindupaigne.herokuapp.com/static/img/img.png" alt="Corentin Dupaigne"
                     id="interactive-img"
                     class="rounded-full shadow-lg mx-auto w-2/3 md:w-3/5 gsap-rotate-hover"/>
            </div>
        </div>
    </div>

    <style>
        .hero {
            position: relative;
            background-color: #1a202c; /* Dark background color for better contrast with particles */
            color: white;
            padding: 4rem 0;
        }

        @media (max-width: 767px) {
    .hero .animated-text a {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}

    </style>

    <!-- Scripts -->
    <script>
        // GSAP Animations
        gsap.from('.gsap-fade-slide', {duration: 1.2, x: -100, opacity: 0, delay: 0.5});
        gsap.from('.gsap-fade-slide-delay', {duration: 1.2, x: -100, opacity: 0, delay: 0.7});
        gsap.from('.gsap-fade-slide-delay-more', {duration: 1.2, x: -100, opacity: 0, delay: 0.9});

        // Typed.js Initialization
        var options = {
            strings: ["Corentin Dupaigne"],
            typeSpeed: 50,
            backSpeed: 25,
            backDelay: 1000,
            startDelay: 500,
            loop: false,
            showCursor: true,
            cursorChar: "|",
            autoInsertCss: true
        };
        var typed = new Typed("#typed-output", options);

    </script>

</section>
