<!-- Projects Section -->
<section id="projects" class="py-24">
        <div class="max-w-6xl mx-auto">
            <div class="text-center mb-24">
                <h2 class="_header_">My Projects</h2>
                <p class="_subheader_">
                    Showcasing a curated selection of my favourite projects.
                </p>
            </div>

            <div class="flex flex-wrap justify-center">
                {% for project in projects %}
                    <div class="_background-alt_ shadow-md border rounded-lg max-w-lg m-4">
                        <a href="{{ url_for('main.project', project_id=project.id) }}" class="relative overflow-hidden group">
                            <img class="rounded-t-lg w-full object-cover object-top h-60"
                                 src="../static/img/{{ project.image_url }}" alt="">
                            <div class="absolute inset-0 bg-indigo-600 opacity-0 group-hover:opacity-75 transition-opacity duration-300 flex justify-center items-center">
                                <span class="_button_">View Project</span>
                            </div>
                        </a>
                        <div class="p-5">
                            <a href="{{ project.link_url }}">
                                <h5 class="text-gray-800 font-bold text-2xl tracking-tight mb-2 ">{{ project.title }}</h5>
                            </a>
                            <p class="_description_">{{ project.short_description }}</p>

                            <div class="flex flex-wrap gap-2">
                                {% for language in project.languages_used.split(",") %}
                                    <span class="text-sm font-semibold bg-gray-200 text-gray-800 px-3 py-1 rounded-full">{{ language }}</span>
                                {% endfor %}
                            </div>

                            <a href="{{ url_for('main.project', project_id=project.id) }}"
                               class="_button_">
                                Read more
                                <svg class="-mr-1 ml-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
