.hero-image {
    transition: transform 0.5s;
    transform: scale(1.30);
}

html {
    scroll-behavior: smooth;
}

/* Overscroll effect */
.overscroll-container {
    overflow: hidden;
}

.overscroll-container .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.overscroll-container .scrolling {
    position: relative;
    z-index: 0;
    transform: translateY(-50%);
    margin-top: -50vh;
    padding-top: 50vh;
}

@media (max-width: 767px) {
    .overscroll-container .scrolling {
        margin-top: -25vh;
        padding-top: 25vh;
    }
}

/* Add background color to scrolling section */
.scrolling {
    background-color: #f1f1f1;
}


.hero {
    position: relative;
    background-color: #1a202c; /* Dark background color for better contrast with particles */
    color: white;
    padding: 4rem 0;
    margin-top: 64px;
}

.content-container {
    position: relative;
    z-index: 1;
    pointer-events: none; /* This prevents the container from catching pointer events */
}

.content-container * {
    pointer-events: auto; /* This ensures that actual content elements can receive pointer events */
}












