<!DOCTYPE html>
<html lang="en">

{% include './Sections/head.html' %}

<body data-categories="{{ categories_names | join(',') }}" class="bg-gray-100 font-sans leading-normal tracking-normal">
<!-- header -->
{% include './Sections/header.html' %}

<section class="py-20 bg-gray-100 pt-[91.5px]">
    <div class="container mx-auto px-4">
        <h2 class="text-5xl font-semibold text-gray-800 text-center">Blog</h2>
        <p class="text-gray-100 mb-8 text-center">Insights, thoughts and musings from my journey</p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            {% for post in posts %}
            <div class="blog-post rounded-xl overflow-hidden shadow-md hover:shadow-xl transform transition duration-200">
                <img class="w-full h-64 rounded-t-xl object-cover" src="{{ post.image_url }}" alt="Post Image">
                <div class="p-6">
                    <h3 class="font-bold text-2xl mb-2 text-gray-800">
                        <a href="{{ url_for('post', post_id=post.id) }}" class="hover:text-indigo-600">{{ post.title
                            }}</a>
                    </h3>
                    <p class="text-gray-700 text-base mb-4">{{ post.excerpt }}</p>
                    <div class="flex items-center">
                        <img class="h-10 w-10 rounded-full mr-2"
                             src="{{ url_for('static', filename='img/corentin_2.jpg') }}">
                        <div>
                            <p class="text-gray-900">Corentin Dupaigne</p>
                            <p class="text-gray-500">{{ post.date_posted.strftime('%B %d, %Y') }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- footer -->
{% include './Sections/footer.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</body>

</html>