<!DOCTYPE html>
<html lang="en">
{% include './Sections/head.html' %}
<body class="font-sans leading-normal tracking-normal bg-gray-100">
    {% include './Sections/header.html' %}
    <main class="pt-[91.5px]">
        <!-- Heading -->
        <div class="text-center heading">
            <h2 class="text-5xl font-extrabold text-indigo-900 mb-8 animate-fade-slide">Crypto Correlation Map</h2>
            <p class="text-xl text-gray-700 leading-relaxed animate-fade-slide-delay">Explore my Crypto Correlation Map with dynamic parameters.</p>
        </div>

        <!-- Parameters Form Section -->
        <section class="container mx-auto px-4 py-16">
            <form method="POST" class="flex flex-col space-y-4 max-w-md mx-auto">

                <label for="since_date" class="text-xl font-semibold text-indigo-800 mt-4 mb-2">Since Date:</label>
                <input type="date" name="since_date" class="w-full p-2 border border-gray-300 rounded-lg" required>

                <label for="till_date" class="text-xl font-semibold text-indigo-800 mt-4 mb-2">Till Date:</label>
                <input type="date" name="till_date" class="w-full p-2 border border-gray-300 rounded-lg" required>
                <button type="submit" class="bg-indigo-600 text-white rounded-full p-3 hover:bg-indigo-700 duration-300">
                    Display Matrix
                </button>
            </form>
        </section>

        <!-- Display the correlation data here -->
{% if correlation_matrix is defined %}
    <section class="container mx-auto px-4 py-8">
        <div class="text-xl font-semibold text-indigo-800 mb-4">Correlation Data</div>
        <div class="bg-white shadow-lg rounded-lg p-4">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="text-left">Cryptocurrency</th>
                        {% for symbol in correlation_matrix.columns %}
                            <th class="text-center">{{ symbol }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for symbol, row in correlation_matrix.iterrows() %}
                        <tr>
                            <td class="text-left">{{ symbol }}</td>
                            {% for value in row %}
                                <td class="text-center">{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endif %}


    </main>
    {% include './Sections/footer.html' %}
</body>
</html>
