<!DOCTYPE html>
<html lang="en">
{% include './Sections/head.html' %}
<body class="font-sans leading-normal tracking-normal bg-gray-100">
    {% include './Sections/header.html' %}
    <main class="pt-[91.5px]">
        <!-- Heading -->
        <div class="text-center heading">
            <h2 class="text-3xl md:text-5xl font-extrabold text-indigo-900 mb-4 md:mb-8 animate-fade-slide">Crypto Correlation Map</h2>
        </div>

        <div class="flex flex-col md:flex-row">
            <!-- Display the correlation data here -->
            <section class="w-full md:w-1/2 lg:w-2/3 container mx-auto px-4 py-8">
                <div class="text-xl font-semibold text-indigo-800 mb-4">Crypto Correlation Matrix for last 3 months</div>
                <div class="bg-white shadow-lg rounded-lg p-4">
                    {{ correlation_matrix|safe }}
                </div>
            </section>
        </div>

    </main>
    {% include './Sections/footer.html' %}
</body>
</html>
