<!DOCTYPE html>
<html lang="en">

{% include './Sections/head.html' %}

<body data-categories="{{ categories_names | join(',') }}" class="font-sans leading-normal tracking-normal">

<!-- Includes -->

<!-- header -->
{% include './Sections/header.html' %}

<main>
<!-- hero -->
{% include './Sections/hero.html' %}

<!-- about -->
    <div class="bg-gray-100 ">
{% include './Sections/about.html' %}
        </div>

<!-- skills -->
    <div class="bg-gray-200 ">
{% include './Sections/skills.html' %}
    </div>

<!-- experiences -->
{% include './Sections/experiences.html' %}

<!-- projects -->
    <div class="bg-gray-200 ">
{% include './Sections/my_projects.html' %}
    </div>

<!-- contact -->
{% include './Sections/contact.html' %}
</main>

<!-- footer -->
{% include './Sections/footer.html' %}

<style>
    *{
        min-width: 0;
        font:inherit;
    }

    img, video, svg{
        display:block;
        height: auto;
        max-width: 100%;
    }
    body{
        margin:0;
        min-height: 100dvh;
    }

</style>


<script>
    AOS.init();
</script>

</body>