<!DOCTYPE html>
<html lang="en">

{% include './Sections/head.html' %}

<body data-categories="{{ categories_names | join(',') }}" class="bg-gray-100 font-sans leading-normal tracking-normal">

<!-- Includes -->

<!-- header -->
{% include './Sections/header.html' %}

<main>
<!-- hero -->
{% include './Sections/hero.html' %}

<!-- about -->
{% include './Sections/about.html' %}

<!-- skills -->
{% include './Sections/skills.html' %}

<!-- experiences -->
{% include './Sections/experiences.html' %}

<!-- projects -->
{% include './Sections/my_projects.html' %}

<!-- contact -->
{% include './Sections/contact.html' %}
</main>

<!-- footer -->
{% include './Sections/footer.html' %}


<script>
    AOS.init();


</script>

</body>