<!DOCTYPE html>
<html lang="en">

{% include './Sections/head.html' %}

<body class="bg-gray-100">

<!-- header -->
{% include './Sections/header.html' %}

<main class="pt-[91.5px]">

<div class="container mx-auto p-6 max-w-2xl	">
    <h1 class="text-3xl font-semibold text-indigo-800 mb-4">GPT-3.5 Prompt Tester</h1>

    <div class="bg-white p-6 rounded-lg shadow-lg">
        <form method="post" class="space-y-4">
            <div class="mb-6">
                <label for="prompt" class="block text-gray-800 font-semibold">Enter Prompt:</label>
                <textarea name="prompt" id="prompt" class="w-full h-32 p-4 border rounded focus:outline-none focus:ring focus:border-indigo-300 transition duration-300"></textarea>
            </div>

            <div class="mb-4">
                <label for="numTests" class="block text-gray-800 font-semibold">Number of Tests (1-10):</label>
                <input type="range" id="numTests" name="numTests" min="1" max="10" class="w-full">
            </div>

            <button type="submit" class="bg-indigo-700 hover:bg-indigo-800 text-white px-4 py-3 rounded-full font-semibold transition duration-300">Process</button>
        </form>
    </div>

    <div id="results" class="mt-8">
        <h3 class="text-xl font-semibold text-indigo-800 mb-4">Results:</h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for result in results %}
                            <div class="swiper-slide">
                                <li class="border border-gray-300 p-4 rounded-md">
                                    <div class="text-gray-700">{{ result }}</div>
                                </li>
                            </div>
                            {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
</main>

{% include './Sections/footer.html' %}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        spaceBetween: 20,
        slidesPerView: 'auto',
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
</body>
</html>
